---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import Image from "../components/images/CUSCO.jpg";
import Image1 from "../components/images/San Sebastian.webp";
import Image2 from "../components/images/CUSCO wancha.jpg";
import Image3 from "../components/images/San Jeronimo.jpg";
import Image4 from "../components/images/abancay.jpg";
import Image5 from "../components/images/abancay1.jpg";
---

<Layout title="Fix - Cobertura">
    <main>
        <Header />
        <body class="is-preload landing">
            <div id="page-wrapper">
                
                    <section id="banner">
                        <div class="content">
                            <div>
                                <h2>Nuestra Cobertura</h2>
                                <p>Conose nuetras ubicaciones.<br />
                                zona de Cusco y Abancay.</p>
                            </div>
                            <div class="content-images">
                                <span class="image"><img src={Image} alt="" /></span>
                                <span class="image"><img src={Image4} alt="" /></span>
                            </div>
                        </div>
                    </section>
    
                <!-- One -->
    
                <!-- Two -->
                    <section id="two" class="spotlight style2 right">
                        <div class="content-zona1">
                            <div class="content-imgcusco">
                                <img src={Image1} alt="">
                            </div>
                            <div class="content-info">
                                <header>
                                    <h2>San Sebastian</h2>
                                    <p>Tenemos una cobertura total en todo el distrito con conexiones de calidad</p>
                                </header>
                                <p>
                                    Sujeto a facilidades técnicas y zonas de cobertura.
                                    Valida tu cobertura llamando o ingresando un pedido por la web.
                                </p>
                                <ul class="actions">
                                    <li><a href="#" class="button">Contrato</a></li>
                                </ul>
                            </div>
                        </div>
                    </section>
    
                <!-- Three -->
                    <section id="two" class="spotlight style2 right">
                        <div class="content-zona1">
                            <div class="content-info">
                                <header>
                                    <h2>Wanchaq</h2>
                                    <p>Tenemos una cobertura total en todo el distrito con conexiones de calidad</p>
                                </header>
                                <p>
                                    Sujeto a facilidades técnicas y zonas de cobertura.
                                    Valida tu cobertura llamando o ingresando un pedido por la web.
                                </p>
                                <ul class="actions">
                                    <li><a href="#" class="button">Contrato</a></li>
                                </ul>
                            </div>
                            <div class="content-imgcusco">
                                <img src={Image2} alt="">
                            </div>
                        </div>
                    </section>
    
                <!-- Four -->

                
                <section id="two" class="spotlight style2 right">
                    <div class="content-zona1">
                        <div class="content-imgcusco">
                            <img src={Image3} alt="">
                        </div>
                        <div class="content-info">
                            <header>
                                <h2>San Jeronimo</h2>
                                <p>Tenemos una cobertura total en todo el distrito con conexiones de calidad</p>
                            </header>
                            <p>
                                Sujeto a facilidades técnicas y zonas de cobertura.
                                Valida tu cobertura llamando o ingresando un pedido por la web.
                            </p>
                            <ul class="actions">
                                <li><a href="#" class="button">Contrato</a></li>
                            </ul>
                        </div>
                    </div>
                </section>


                <!-- -->
                <section id="two" class="spotlight style2 right">
                    <div class="content-zona1">
                        <div class="content-info">
                            <header>
                                <h2>Abancay</h2>
                                <p>Tenemos una cobertura total en todo el distrito con conexiones de calidad</p>
                            </header>
                            <p>
                                Sujeto a facilidades técnicas y zonas de cobertura.
                                Valida tu cobertura llamando o ingresando un pedido por la web.
                            </p>
                            <ul class="actions">
                                <li><a href="#" class="button">Contrato</a></li>
                            </ul>
                        </div>
                        <div class="content-imgcusco">
                            <img src={Image5} alt="">
                        </div>
                    </div>
                </section>
                <!-- Five -->
            </div>
        </body>
    </main>
    <Footer />
</Layout>
<style>
    img{
        width: 500px;
        border-radius: 10px 50px;
    }
    /* BANNER  */
    .content{
        background-color: #3B666B;
        padding: 30px 0 50px 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .content-images{
        display: flex;
        flex-direction: column;
    }

    /* Zona 1 */
    .content-zona1{
        padding: 40px 0;
        display: flex;
        justify-content: space-around;

    }

</style>